body {
		padding: 20px;
		background-image: url("../img/VotingBooth.jpg");		background-size: cover;
		background-attachment: fixed;
}
img {
    width: 600px;
}
#left, #center, #right {
    display: none;
}